%header.masthead.text-center.text-white.d-flex{style:"background-image:url('../assets/img/header.jpg')"}
  .container.my-auto
    .row
      .col-lg-10.mx-auto
        %h1.text-uppercase
          %strong Coder 
        %hr/
      .col-lg-8.mx-auto
        %p.text-faded.mb-5 Coding is what makes it possible for us to create computer software, apps and websites.
        %a.btn.btn-primary.btn-xl.js-scroll-trigger{:href => "#about"} Take Challenge
%section#about.bg-primary
  .container
    .row
      .col-lg-8.mx-auto.text-center
        %h2.section-heading.text-white We've got what you need!
        %hr.light.my-4/
        %p.text-faded.mb-4 Developer create new things in computer science
        %a.btn.btn-light.btn-xl.js-scroll-trigger{:href => "#services"} Get Started!
%section#services
  .container
    .row
      .col-lg-12.text-center
        %h2.section-heading At Your Service
        %hr.my-4/
  .container
    .row
      .col-lg-3.col-md-6.text-center
        .service-box.mt-5.mx-auto
          %i.fa.fa-4x.fa-diamond.text-primary.mb-3.sr-icons
          %h3.mb-3 Campagins
      .col-lg-3.col-md-6.text-center
        .service-box.mt-5.mx-auto
          %i.fa.fa-4x.fa-paper-plane.text-primary.mb-3.sr-icons
          %h3.mb-3 Todo
      .col-lg-3.col-md-6.text-center
        .service-box.mt-5.mx-auto
          %i.fa.fa-4x.fa-cog.fa-spin-o.text-primary.mb-3.sr-icons
          %h3.mb-3 Developer Tool
      .col-lg-3.col-md-6.text-center
        .service-box.mt-5.mx-auto
          %i.fa.fa-4x.fa-book.text-primary.mb-3.sr-icons
          %h3.mb-3 Documentation

%section.bg-dark.text-white
  .container.text-center
    %h2.mb-4 Goto Github for download 
    %a.btn.btn-light.btn-xl.sr-button{:href => "https://github.com/ashishsingh1990/ashish_homify.git"} Download Now!
%section#contact
  .container
    .row
      .col-lg-8.mx-auto.text-center
        %h2.section-heading Let's Get In Touch!
        %hr.my-4/
        %p.mb-5 Ready to start your next project with us? That's great! Give us a call or send us an email and we will get back to you as soon as possible!
    .row
      .col-lg-4.ml-auto.text-center
        %i.fa.fa-phone.fa-3x.mb-3.sr-contact
        %p +91-9015356775
      .col-lg-4.mr-auto.text-center
        %i.fa.fa-envelope-o.fa-3x.mb-3.sr-contact
        %p
          %a{:href => "ashish.mits.gwl@gmail.com"} ashish.mits.gwl@gmail.com