%nav#mainNav.navbar.navbar-expand-lg.navbar-light.fixed-top
  .container
    %a.navbar-brand.js-scroll-trigger{:href => "#page-top"} Homify Test
    %button.navbar-toggler.navbar-toggler-right{"aria-controls" => "navbarResponsive", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#navbarResponsive", "data-toggle" => "collapse", :type => "button"}
      %span.navbar-toggler-icon
    #navbarResponsive.collapse.navbar-collapse
      %ul.navbar-nav.ml-auto
        - if user_signed_in?
          -if current_user.expert?  
            %li.nav-item
              %a.nav-link.js-scroll-trigger{:href => "/users"} User
          %li.nav-item
            %a.nav-link.js-scroll-trigger{:href => "/campaigns"} Campaign
          %li.nav-item
            %a.nav-link.js-scroll-trigger{:href => "/todos"} Todo 
          %li.nav-item.dropdown
            %a.nav-link.js-scroll-trigger{"data-toggle" => "dropdown", class: "dropdown-toggle", :href => "#"} 
              = current_user.username
            %ul.dropdown-menu
              %li
                %a{:href => "/users/edit"} Settings
              .divider
              %li
                = link_to "Sign out", destroy_user_session_path, :method => :delete
        - else
          %li.nav-item
            %a.nav-link.js-scroll-trigger{:href => "/"} Home
          %li.nav-item
            %a.nav-link.js-scroll-trigger{:href => "#{new_user_registration_path }"} Register
          %li.nav-item
            %a.nav-link.js-scroll-trigger{:href => "#{new_user_session_path }"} Login
                